/*  RESET  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Ensure images and picture elements scale with their containers and are displayed as block elements */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove default border and enable pointer cursor for buttons */
button {
  border: none;
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: #f3f3f3;
}

/* MAIN CARD */
.article_card {
  display: flex;
  max-width: 775px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* LEFT SIDE: IMAGE  */
.article_image_container {
  flex: 1;
}

/* RIGHT SIDE CONTENT */
.article_content {
  flex: 1;
  padding: 2rem;
}

.article_content_heading {
  font-size: 1.25rem;
  color: hsl(217, 19%, 35%);
  margin-bottom: 10px;
}

.article_content_text {
  font-size: 0.875rem;
  color: hsl(214, 17%, 51%);
}

.article_profile {
  display: flex;
  align-items: baseline;
}

.article_profile_avatar,
.share_button {
  display: flex;
}

.article_profile_avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.article_title_name {
  position: relative;
  left: 3.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.article_date {
  font-size: 0.75rem;
  color: hsl(214, 17%, 51%);
}

.share_button {
  /* position: relative; */
  margin-left: auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.share_button img {
  width: 1.25em;
  height: 1.25em;
}

/* POPUP CONTAINER */
.share_popup .visible {
  visibility: hidden;
  width: 160px;
  background-color: hsl(217, 19%, 35%);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.share_popup .visible::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.share_popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Media Query */
@media (max-width: 600px) {
  .article_card {
    flex-direction: column;
  }


  .article_profile {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .article_date {
    margin-top: 5px;
  }
}
